*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    padding: 1.5rem;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

header{
    width: 100%;    
    background-color: #121212;
    border-bottom: 5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: #880808;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    position: relative;
}
header .img{
    position: absolute;
    right: 0;
    padding: 1rem;
}

header #mainttl{
    color: #f2f3d9;
    font-size: 2rem;
    
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    
    }
    main #sect1{
       height: 100%;
       width: 100%;
       padding: 3%;
       background: linear-gradient(to top, #11111199 50%, #12121299 50%), url(../../assets/ej_bg3.jpg);
       background-size: cover;
       background-position: center;
    }
    #sect1 .top{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 1rem;
    }
    main h2{
        color: #f2f3d9;
        text-decoration: underline #ff1c1ca2 2px;
    }
    .back_btn{
    position: absolute;
    top: 2%;
   left: 3%;    
    }
    .back_btn button{
        background: none;
        border: 2px solid #880808;
        border-radius: 5px;
        padding: 4px;
        transition: 
            border-width 0.1s ease,
            box-shadow 0.1s ease,
            transform 0.1s ease;
    }
    
    .back_btn button:hover {
        cursor: pointer;
        border-width: 3px;
        box-shadow: 0 0 8px #88080899;
        transform: scale(1.01);
    }

    
   
    .btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem; /* espacio entre botones */
        margin-top: 3em;
    }
    
    .btns a button {
        padding: 20px 20px;
        font-size: 1.5rem;
        background-color: #880808;
        color: #f2f3d9;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bolder;
        width: 260px;
        transition: 0.5s ease;
    }
    
    .btns a button:hover {
        background-color: #ff1c1c;
        color: #ffffff;
        cursor: pointer;
        
    }
    .btns a button:active{
        transform: scale(0.9);
    }
    .btn_inventario{
        padding-top: 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
        gap: 20px; /* espacio entre los botones */
        max-width: 600px; /* o el tamaño que tú quieras */
        margin: 0 auto; /* centrar */
    }