*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: linear-gradient(to top, #11111199 50%, #12121299 50%), url(../../../assets/ej_bg3.jpg);
    padding: 1.5rem;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
main{
    padding: 10px;
    border-color: #880808;
    border-style: solid;
    border-radius: 20px;
    border-width: bolder;
    width: 50%;
    background-color: #121212;
    height: 50%;
    margin-top: 20px;
}

header .logo_img{
    margin-top: -25px;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header #title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 0;
    font-size: 1rem;
    color:#f2f3d9;
    font-weight: bolder;
}

.login-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 70%;
    color: #f2f3d9;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    padding: 10px;
    border: 2px solid #880808;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
}

.input-group input:focus {
    outline: none;
    border-color: #ff1c1c;
}

.btn-login {
    margin-top: 20px;
}

.btn-login button, .btn {
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    background-color: #000;
    color: #880808;
    border: 2px solid #880808;
    border-radius: 8px;
}

.btn-login button:hover, .btn:hover {
    border-color: #ff1c1c;
    color: #ff1c1c;
    cursor: pointer;
}
.btn{
    width: 100px;
    height: 30px;
    font-size: 1rem;
}

.extras {
    margin-top: 20px;
    text-align: center;
}
.extras p{
    margin-bottom: 5px;
}
.extras a {
    color: #f2f3d9;
    text-decoration: none;
}

.extras a:hover {
    color: #ff1c1c;
    text-decoration: underline;
}
.popup.hidden {
    display: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: #121212;
    padding: 30px;
    border: 2px solid #880808;
    border-radius: 15px;
    text-align: center;
    color: #f2f3d9;
}

.popup-content input {
    margin-top: 10px;
    padding: 10px;
    width: 80%;
}

.popup-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
